# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
runs/client
runs/data
runs/gameTestServer
runs/server/logs
runs/server/config
runs/server/crash-reports
runs/server/defaultconfigs
runs/server/mods
runs/server/world
repo